<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/static/css/addProject.css?{% now "U" %}" rel="stylesheet"/>
    <title>HopeKCC</title>
  </head>

{% load static %}

<body>
    <div class="MainPage">
    
            <div class="Icon" style="width: 24px; height: 24px; padding: 2px; justify-content: center; align-items: center; display: flex">
              <div class="Icon" style="width: 20px; height: 20px; background: #49454F"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Footer" style="width: 1348px; height: 185px; left: -25px; top: 881px; position: absolute; background: #FBFEFF"></div>
   
    <div class="Linkedin">
      <div class="Icon" style="width: 20px; height: 19px;">
        <a href="http://linkedin.com/company/hopekcc" target="_blank"><img src="{% static 'createAccImg/linkedin.png'%}" style="width: 20px; height:20px" /></a>
      </div>
    </div>
    <div class="Youtube">
      <div class="Icon" style="width: 22px; height: 15.46px;">
        <a href="http://youtube.com/@HopeKCC" target="_blank"><img src="{% static 'createAccImg/youtube.png'%}" style="width: 20px; height:15px" /></a>
      </div>
    </div>
    <div class="Facebook">
      <div class="Icon" style="width: 11px; height: 15.46px;">
        <a href="http://facebook.com/profile.php?id=61558063464286" target="_blank"><img src="{% static 'createAccImg/facebook.png'%}" style="width: 20px; height:20px" /></a>
      </div>
    </div>
    <div class="Instagram">
      <div class="Icon" style="width: 20px; height: 20px;">
        <a href="http://instagram.com/hopekccinc/" target="_blank"><img src="{% static 'createAccImg/instagram.png'%}" style="width: 20px; height:20px" /></a>
      </div>
    </div>
    
    <div class="Contact" style="left: 858px; top: 923px; position: absolute; text-align: center; color: #53C7E2; font-size: 24px; font-family: Roboto, sans-serif; font-weight: 700; line-height: 28.80px; word-wrap: break-word">Contact</div>
    <div class="InfoHopekccOrg" style="left: 828px; top: 966px; position: absolute; text-align: center; color: #62C4DB; font-size: 20px; font-family: Roboto, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">info@hopekcc.org</div>
    <div class="ConnectWithUs" style="left: 1047px; top: 923px; position: absolute; text-align: center; color: #53C7E2; font-size: 24px; font-family: Roboto, sans-serif; font-weight: 700; line-height: 28.80px; word-wrap: break-word">Connect With Us!<br/></div>
    <img class="HopekccBigLogo" src="{% static 'createAccImg/hopekcclogo.png'%}" />
    <div class="AddNewProject" style="width: 515px; height: 23px; left: 409px; top: 189px; position: absolute; text-align: center; color: #4a94a5; font-size: 40px; font-family: Roboto, sans-serif; font-weight: 700; line-height: 48px; word-wrap: break-word">Add New Project </div>
    <img class="Hopemascot1" src="{% static 'createAccImg/hopemascot.png'%}" />
    <div class="SubmitButton" style="width: 345px; height: 48px; left: 468px; top: 801px; position: absolute">
      <div class="LoginButton">
        <div class="Submit">SUBMIT</div>
      </div>
    </div>
    <div class="UploadProject" style="width: 235px; left: 525px; top: 322px; position: absolute; text-align: center; color: #39A6BE; font-size: 25px; font-family: Roboto, sans-serif; font-weight: 450; line-height: 30px; word-wrap: break-word">UPLOAD PROJECT</div>
    <div class="UploadFiles" style="width: 235px; height: 31px; left: 523px; top: 379px; position: absolute">
      <div class="ChooseFiles" style="width: 235px; left: 0px; top: 4px; position: absolute; text-align: center; color: #E8F8FB; font-size: 18px; font-family: Roboto, sans-serif; font-weight: 500; line-height: 21.60px; word-wrap: break-word">Choose Files</div>
      <div class="ChooseFiles">
        <div class="Button1" style="width: 115px; height: 31px; left: 60px; top: 0px; position: absolute; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Button2">Choose Files</div>
        </div>
      </div>
    </div>
    <div class="EnterProjectTitle" style="left: 514px; top: 455px; position: absolute; text-align: center; color: #39A6BE; font-size: 25px; font-family: Roboto, sans-serif; font-weight: 450; line-height: 30px; word-wrap: break-word">ENTER PROJECT TITLE</div>
    <div class="Rectangle18" style="width: 450px; height: 43px; left: 415px; top: 512px; position: absolute; background: white; border-radius: 5px; border: 1px #39A6BE solid"></div>
    <div class="UploadCoverPhoto" style="left: 500px; top: 602px; position: absolute; text-align: center; color: #39A6BE; font-size: 25px; font-family: Roboto, sans-serif; font-weight: 450; line-height: 30px; word-wrap: break-word">UPLOAD COVER PHOTO</div>
    <div class="UploadFiles2" style="width: 235px; height: 31px; left: 523px; top: 659px; position: absolute">
      <div class="ChooseFile">
        <div class="Button1" style="width: 115px; height: 31px; left: 60px; top: 0px; position: absolute; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div class="Button2">Choose File</div>
        </div>
      </div>
    </div>
    <div class="NavBar" style="width: 1280px; height: 153px; left: 0px; top: 0px; position: absolute; background: #62C4DB"></div>
    <a href="{% url 'galleryPage' %}">
      <div class="GalleryLabel">Gallery</div> 
      </a>
      <a href="{% url 'addProject' %}">
      <div class="SubmissionsLabel">Submissions</div> 
      </a>
      <a href="{% url 'landingPage' %}">
      <div class="HomeLabel">Home</div> 
      </a>
    <div class="AccountCircle" style="width: 59px; height: 54px; padding-left: 4.92px; padding-right: 4.92px; padding-top: 4.50px; padding-bottom: 4.50px; left: 1160px; top: 78px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
      <img class="UserIcon" src = "{% static 'createAccImg/userdropdown.png'%}"></div>
    </div>
    <div class="Hopekcc" style="width: 272px; height: 37px; left: 153px; top: 56px; position: absolute; text-align: center; color: white; font-size: 50px; font-family: Roboto, sans-serif; font-weight: 700; line-height: 60px; word-wrap: break-word">HopeKCC</div>
    <img class="HopekccSmallLogo" src="{% static 'createAccImg/hopekccnavbarlogo.png'%}" />
  </body>
