<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/static/css/mainSelection.css?{% now "U" %}" rel="stylesheet"/>
    <title>HopeKCC</title>
  </head>

{% load static %}

<body>   
  <div class="FirstMainPage" style="width: 1280px; height: 1060px; position: relative; background: linear-gradient(180deg, white 19%, #ABEEFF 50%, #9BEAFD 100%); overflow: hidden">
    
    <div class="Icon" style="width: 24px; height: 24px; padding: 2px; justify-content: center; align-items: center; display: flex">
      <div class="Icon" style="width: 20px; height: 20px; background: #49454F"></div>
    </div>
  </div>
</div>
</div>
</div>
<div class="Footer" style="width: 1348px; height: 185px; left: -25px; top: 891px; position: absolute; background: #FBFEFF"></div>

    <div class="Linkedin">
      <div class="Icon" style="width: 20px; height: 19px;">
        <a href="http://linkedin.com/company/hopekcc" target="_blank"><img src="{% static 'createAccImg/linkedin.png'%}" style="width: 20px; height:20px" /></a>
      </div>
    </div>
    <div class="Youtube">
      <div class="Icon" style="width: 22px; height: 15.46px;">
        <a href="http://youtube.com/@HopeKCC" target="_blank"><img src="{% static 'createAccImg/youtube.png'%}" style="width: 20px; height:15px" /></a>
      </div>
    </div>
    <div class="Facebook">
      <div class="Icon" style="width: 11px; height: 15.46px;">
        <a href="http://facebook.com/profile.php?id=61558063464286" target="_blank"><img src="{% static 'createAccImg/facebook.png'%}" style="width: 20px; height:20px" /></a>
      </div>
    </div>
    <div class="Instagram">
      <div class="Icon" style="width: 20px; height: 20px;">
        <a href="http://instagram.com/hopekccinc/" target="_blank"><img src="{% static 'createAccImg/instagram.png'%}" style="width: 20px; height:20px" /></a>
      </div>
    </div>

    <div class="Contact" style="left: 858px; top: 923px; position: absolute; text-align: center; color: #53C7E2; font-size: 24px; font-family: Roboto, sans-serif; font-weight: 700; line-height: 28.80px; word-wrap: break-word">Contact</div>
    <div class="InfoHopekccOrg" style="left: 828px; top: 966px; position: absolute; text-align: center; color: #62C4DB; font-size: 20px; font-family: Roboto, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">info@hopekcc.org</div>
    <div class="ConnectWithUs" style="left: 1047px; top: 923px; position: absolute; text-align: center; color: #53C7E2; font-size: 24px; font-family: Roboto, sans-serif; font-weight: 700; line-height: 28.80px; word-wrap: break-word">Connect With Us!<br/></div>
    <img class="HopekccBigLogo" style="width: 403px; height: 191px; left: 22px; top: 881px; position: absolute" src="{% static 'createAccImg/hopekcclogo.png'%}" />
    <div class="Rectangle20" style="width: 968px; height: 485px; left: 159px; top: 266px; position: absolute; background: #62C4DB; border: 3px #13748A solid"></div>
    
    <div class="NavBar" style="width: 1280px; height: 153px; left: 0px; top: 0px; position: absolute; background: #62C4DB"></div>
    <div class="AccountCircle" style="width: 59px; height: 54px; padding-left: 4.92px; padding-right: 4.92px; padding-top: 4.50px; padding-bottom: 4.50px; left: 1160px; top: 78px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
      <img class="UserIcon" src="{% static 'createAccImg/userdropdown.png'%}"></div>
    </div>
    <div class="Hopekcc" style="width: 272px; height: 37px; left: 153px; top: 56px; position: absolute; text-align: center; color: white; font-size: 50px; font-family: Roboto, sans-serif; font-weight: 700; line-height: 60px; word-wrap: break-word">HopeKCC</div>
    <img class="HopekccSmallLogo" style="width: 137px; height: 128.87px; left: 22px; top: 11px; position: absolute" src="{% static 'createAccImg/hopekccnavbarlogo.png'%}" />
  </div>
</body>