<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="projectPage.css" rel="stylesheet"/>
    <title>HopeKCC</title>
  </head>
  
<body>
<div class="ProjectOnGalleryPage" style="width: 1280px; height: 1060px; position: relative; background: linear-gradient(180deg, white 19%, #ABEEFF 50%, #9BEAFD 100%); overflow: hidden">
                <div class="Icon" style="width: 24px; height: 24px; padding: 2px; justify-content: center; align-items: center; display: flex">
                  <div class="Icon" style="width: 20px; height: 20px; background: #49454F"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="Footer" style="width: 1348px; height: 185px; left: -25px; top: 881px; position: absolute; background: #FBFEFF"></div>
  
        <div class="Linkedin">
            <div class="Icon" style="width: 20px; height: 19px;">
              <a href="http://linkedin.com/company/hopekcc" target="_blank"><img src="linkedin.png" style="width: 20px; height:20px" /></a>
            </div>
          </div>
          <div class="Youtube">
            <div class="Icon" style="width: 22px; height: 15.46px;">
              <a href="http://youtube.com/@HopeKCC" target="_blank"><img src="youtube.png" style="width: 20px; height:15px" /></a>
            </div>
          </div>
          <div class="Facebook">
            <div class="Icon" style="width: 11px; height: 15.46px;">
              <a href="http://facebook.com/profile.php?id=61558063464286" target="_blank"><img src="facebook.png" style="width: 20px; height:20px" /></a>
            </div>
          </div>
          <div class="Instagram">
            <div class="Icon" style="width: 20px; height: 20px;">
              <a href="http://instagram.com/hopekccinc/" target="_blank"><img src="instagram.png" style="width: 20px; height:20px" /></a>
            </div>
          </div>
      
        <div class="Contact" style="left: 858px; top: 923px; position: absolute; text-align: center; color: #53C7E2; font-size: 24px; font-family: Roboto, sans-serif; font-weight: 700; line-height: 28.80px; word-wrap: break-word">Contact</div>
        <div class="InfoHopekccOrg" style="left: 828px; top: 966px; position: absolute; text-align: center; color: #62C4DB; font-size: 20px; font-family: Roboto, sans-serif; font-weight: 500; line-height: 24px; word-wrap: break-word">info@hopekcc.org</div>
        <div class="ConnectWithUs" style="left: 1047px; top: 923px; position: absolute; text-align: center; color: #53C7E2; font-size: 24px; font-family: Roboto, sans-serif; font-weight: 700; line-height: 28.80px; word-wrap: break-word">Connect With Us!<br/></div>
        <img class="HopekccBigLogo" src="hopekcclogo.png" />
        <div class="Rectangle3" style="width: 973px; height: 592px; left: 160px; top: 219px; position: absolute; background: #9FDDEC"></div>
        <div class="UserSInputtedTitleHere" style="left: 216px; top: 619px; position: absolute; text-align: center; color: #2996AE; font-size: 36px; font-family: Roboto, sans-serif; font-weight: 600; line-height: 43.20px; word-wrap: break-word">User’s Inputted Title Here</div>
        <div class="SubmitButton" style="width: 195px; height: 48px; left: 882px; top: 720px; position: absolute">
            <div class="LoginButton">
                <div class="Submit">View Project</div> 
            </div>
        </div>
        <img class="Rectangle15" style="width: 861px; height: 345px; left: 216px; top: 261px; position: absolute; border: 1px #D9D9D9 solid" src="https://via.placeholder.com/861x345" />
        <div class="NavBar" style="width: 1280px; height: 153px; left: 0px; top: 0px; position: absolute; background: #62C4DB"></div>
        <div class="GalleryLabel">Gallery</div> 
        <div class="SubmissionsLabel">Submissions</div> 
        <div class="HomeLabel">Home</div> 
        <div class="AccountCircle" style="width: 59px; height: 54px; padding-left: 4.92px; padding-right: 4.92px; padding-top: 4.50px; padding-bottom: 4.50px; left: 1161px; top: 73px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
            <img class="UserIcon" src = "userdropdown.png"></div>
        </div>
        <div class="Hopekcc" style="width: 272px; height: 37px; left: 153px; top: 56px; position: absolute; text-align: center; color: white; font-size: 50px; font-family: Roboto, sans-serif; font-weight: 700; line-height: 60px; word-wrap: break-word">HopeKCC</div>
        <img class="HopekccSmallLogo" src="hopekccnavbarlogo.png" />
      </div>
</body>
