.LoginPage {
    width: 1280px; 
    height: 1060px; 
    position: relative; 
    background: linear-gradient(180deg, white 19%, #ABEEFF 50%, #9BEAFD 100%); 
    overflow: hidden
  }
  
  .LoginBox {
      width: 440px; 
      height: 670px;
      left: 418px;
      top: 186px; 
      position: absolute; 
      background: #62C4DB; 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  }
  
  .HopekccSmallLogo {
    width: 137px; 
    height: 128.87px; 
    left: 22px; 
    top: 11px; 
    position: absolute
  }
  
  .HopekccBigLogo {
    width: 403px;
    height: 191px; 
    left: 22px;
     top: 881px; 
     position: absolute
  }
  
  
  .Linkedin{
      width: 24px; 
      height: 24px; 
      padding-top: 2px; 
      padding-bottom: 3px; 
      padding-left: 2px; 
      padding-right: 2px; 
      left: 1143px; 
      top: 963px; 
      position: absolute; 
      justify-content: center; 
      align-items: center; 
      display: inline-flex
    }
    
    .Youtube{
      width: 24px; 
      height: 24px; 
      padding-top: 4px;
      padding-bottom: 4.54px; 
      padding-left: 1px; 
      padding-right: 1px; 
      left: 1183px; 
      top: 963px; 
      position: absolute; 
      justify-content: center; 
      align-items: center; 
      display: inline-flex
    }
    
    .Facebook{
      width: 24px; 
      height: 24px; 
      padding-top: 1px; 
      padding-bottom: 2px; 
      padding-left: 2px; 
      padding-right: 6px; 
      left: 1103px; 
      top: 963px; 
      position: absolute; 
      justify-content: center; 
      align-items: center; 
      display: inline-flex
    }
    
    .Instagram{
      width: 24px; 
      height: 24px; 
      padding: 2px; 
      left: 1070px; 
      top: 963px; 
      position: absolute; 
      justify-content: center; 
      align-items: center; 
      display: inline-flex
    }
  
    .Footer {
      width: 1348px; 
    height: 185px; 
    left: -25px; 
    top: 891px; 
    position: absolute; 
    background: #FBFEFF
    }
  
    .ConnectWithUs{
      left: 1047px; 
      top: 923px; 
      position: absolute; 
      text-align: center; 
      color: #53C7E2; 
      font-size: 24px; 
      font-family: "Roboto", sans-serif; 
      font-weight: 700; 
      line-height: 28.80px; 
      word-wrap: break-word
    }
  
    .UsernameOrEmail {
      width: 247px;
      height: 14px; 
      left: -14px; 
      top: 22px;
       position: absolute; 
       text-align: center; 
       color: rgba(212.74, 233.37, 252.42, 0.72); 
       font-size: 16px; 
       font-family: "Roboto", sans-serif;  
       font-weight: 600; 
       line-height: 19.20px;
        word-wrap: break-word
    }
  
    .Password {
      width: 247px; 
      height: 14px; 
      left: -45px; 
      top: 22px; 
      position: absolute; 
      text-align: center; 
      color: rgba(212.74, 233.37, 252.42, 0.72);
       font-size: 16px; 
       font-family: "Roboto", sans-serif;  
      font-weight: 600; 
      line-height: 19.20px; 
      word-wrap: break-word
    }
    
    .WelcomeToHopeKidsCyberClassroomLoginToAccessYourResources {
      left: 494px; 
      top: 315px;
       position: absolute; 
       text-align: center; 
       color: #ECF4F5; 
       font-size: 16px; 
       font-family: "Roboto", sans-serif;   
       font-weight: 400; 
        line-height: 19.20px; 
        word-wrap: break-word
    }
  
    .Or {
      left: 628px; 
      top: 681px; 
      position: absolute;
       text-align: center; 
       color: #DDE4E9; 
       font-size: 20px;
        font-family: "Roboto", sans-serif;   
        font-weight: 600;
         line-height: 24px; 
         word-wrap: break-word
    }
  
    .LogIn {
      left: 601px; 
      top: 373px; 
      position: absolute; 
      text-align: center; 
      color: white; 
      font-size: 24px; 
      font-family: "Roboto",sans-serif;
      font-weight: 600; 
      line-height: 28.80px;
       word-wrap: break-word 
    }
  
  .Hopekcc {
     width: 361px;
     height: 124px; 
     left: 458px; 
     top: 229px; 
     position: absolute; 
     text-align: center; 
     color: #ECF4F5; 
     font-size: 70px; 
     font-family: "Roboto", sans-serif; 
     font-weight: 700; 
     line-height: 84px; 
     word-wrap: break-word
  }
  
  .Hopekcctop {
    width: 272px; 
    height: 37px; 
    left: 153px; 
    top: 56px; 
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 50px; 
    font-family: "Roboto", sans-serif; 
    font-weight: 700; 
    line-height: 60px;
     word-wrap: break-word
  }
  
  .LogIn {
    left: 142px; 
    top: 12px; 
    position: absolute;
    text-align: center; 
    color: white; 
    font-size: 20px; 
    font-family: "Roboto", sans-serif; 
    font-weight: 500; 
    line-height: 24px; 
    word-wrap: break-word
  }
  
  .CreateAnAccount {
    left: 74px;
     top: 12px; 
     position: absolute; 
     text-align: center; 
     color: white; 
     font-size: 20px;
      font-family: "Roboto", sans-serif; 
      font-weight: 500;
      line-height: 24px; 
    word-wrap: break-word
  }
  
  .Contact {
    left: 858px; 
    top: 923px; 
    position: absolute;
     text-align: center;
     color: #53C7E2; 
     font-size: 24px;
     font-family: "Roboto", sans-serif; 
      font-weight: 700;
     line-height: 28.80px;
     word-wrap: break-word
  }
  
  .InfoHopekccOrg {
    left: 828px; 
    top: 966px;
     position: absolute; 
     text-align: center; 
     color: #62C4DB;
      font-size: 20px; 
      font-family: "Roboto", sans-serif; 
      font-weight: 500; 
      line-height: 24px; 
     word-wrap: break-word
  }
  
  .createText {
    width: 361px; 
    height: 58px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #62C4DB;
     border-radius: 10px; 
    border: 1px #D5E9FC solid
  }
  
  .createText:focus{
    outline:none;
    border-color: #2996AE
  }
  
  .LoginButton1{
    width: 345px; 
    height: 48px; 
    left: 467px; 
    top: 603px; 
    position: absolute
  }

  .LoginButton2{
    width: 345px; 
    height: 48px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #39A6BE; 
    border-radius: 2px; 
    border: 1px #2996AE solid
  }

  .LoginButton2:hover{
    background: #2996AE; 

  }

  .CreateAccButton2{
    width: 345px; 
    height: 48px; 
    left: 0px;
    top: 0px; 
    position: absolute; 
    background: #62C4DB; 
    border-radius: 2px; 
    border: 1px #2996AE solid
  }

  .CreateAccButton2:hover{
    background-color: #39A6BE;
    border: 1px #20768a solid
  }