.Linkedin{
    width: 24px; 
    height: 24px; 
    padding-top: 2px; 
    padding-bottom: 3px; 
    padding-left: 2px; 
    padding-right: 2px; 
    left: 1143px; 
    top: 963px; 
    position: absolute; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex
  }
  
  .Youtube{
    width: 24px; 
    height: 24px; 
    padding-top: 4px;
    padding-bottom: 4.54px; 
    padding-left: 1px; 
    padding-right: 1px; 
    left: 1183px; 
    top: 963px; 
    position: absolute; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex
  }
  
  .Facebook{
    width: 24px; 
    height: 24px; 
    padding-top: 1px; 
    padding-bottom: 2px; 
    padding-left: 2px; 
    padding-right: 6px; 
    left: 1103px; 
    top: 963px; 
    position: absolute; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex
  }
  
  .Instagram{
    width: 24px; 
    height: 24px; 
    padding: 2px; 
    left: 1070px; 
    top: 963px; 
    position: absolute; 
    justify-content: center; 
    align-items: center; 
    display: inline-flex
  }

  
.UserIcon {
    width: 100px; 
    height: 100px
  }

  .HomeLabel {
    width: 164px; 
    height: 39px;
    left: 736px; 
    top: 82px;
    position: absolute; 
    color: white; 
    font-size: 30px; 
    font-family: Roboto, sans-serif; 
    font-weight: 400; 
    line-height: 24px;
    letter-spacing: 0.50px;
    word-wrap: break-word
  }
  
  .HomeLabel:hover {
  color:#2996AE
  }
  
  .SubmissionsLabel {
    width: 186px;
    height: 39px; 
    left: 848px;
    top: 82px;
    position: absolute; 
    color: white; 
    font-size: 30px; 
    font-family: Roboto, sans-serif;
    font-weight: 400; 
    line-height: 24px; 
    letter-spacing: 0.50px; 
    word-wrap: break-word
  }
  
  .SubmissionsLabel:hover {
    color:#2996AE
  }
  
  .GalleryLabel {
  width: 164px;
  height: 39px; 
  left: 1050px; 
  top: 82px; 
  position: absolute;
  color: white; 
  font-size: 30px; 
  font-family: Roboto, sans-serif; 
  font-weight: 400; 
  line-height: 24px; 
  letter-spacing: 0.50px; 
  word-wrap: break-word
  }
  
  .GalleryLabel:hover {
    color:#2996AE
  }